.base-input {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__label {
        font-size: 1.6rem;
        color: $black-900;
        line-height: 130%;
        font-weight: 500;
    }

    &__input {
        border: 1px solid $black-700;
        border-radius: 4px;
        outline: none;
        padding: 5px 6px;
        font-size: 1.6rem;
        font-weight: 400;
    }
}